# Exploratory Data Analysis
created by Nuresi Rantri D.W.N

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

from ipywidgets import interact, interact_manual #for interactive visualization if needed

In D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

## Read the data

In [2]:
data = pd.read_csv('movie_metadata.csv')

### 1.1 Check the basic and general info of the data to know the missing values and each data type

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       5043 non-null object
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(12), int64(3), object(13)
memory usage: 1.1+ MB

### 1.2. The duration column contains data on the film length. How many missing values are there in this column?

In [4]:
print("There are" , data.duration.isna().sum() , "missing values in duration column")

There are 15 missing values in duration column

### 1.3. Replace the missing values in the duration column with the median value for this column.

In [5]:
data.duration = data.duration.fillna(data.duration.median())

In [6]:
#make sure whether there's any missing values left in this column
data.duration.isna().sum()

0

### 1.4. What is the average film length? Give the answer as a floating-point figure rounded to two decimal places.

In [7]:
print("The average film length is" , round(data.duration.mean(),2))

The average film length is 107.19

### 1.5. Create a movie_duration_category column, which will contain three categories depending on the film length
- Category "1. <90" if the film is less than 90 minutes long
- Category "2. 90–120" if the film is between 90 minutes and two hours long (inclusively)
- Category "3. >120" if the film is more than two hours long

In [8]:
data['movie_duration_category'] = np.where(data['duration'] < 90, "< 90", 
                                  np.where(((data['duration'] >= 90) & (data['duration'] <= 120)), "90 - 120",
                                  np.where(data['duration'] > 120, "> 120","Unknown")))

In [9]:
data['movie_duration_category'].value_counts() #check the result

90 - 120    3184
> 120       1067
< 90         792
Name: movie_duration_category, dtype: int64

### 1.6. Build a summary table for films released after 2000 (inclusively), to list the numbers of films:
- Table rows: year
- Table columns: movie duration category ("<90", "90–120", ">120")
- The year of release should be displayed in the YYYY format.

In [10]:
summary = data[(data.title_year > 2000)] #filter the data frame
summary = data[['title_year','movie_duration_category']] #slice the dataframe so only needed column is shown

In [11]:
summary.head() #check the result, year is still visualized as float data type

   title_year movie_duration_category
0      2009.0                   > 120
1      2007.0                   > 120
2      2015.0                   > 120
3      2012.0                   > 120
4         NaN                90 - 120

In [12]:
summary['title_year'] = pd.to_datetime(summary['title_year'], format='%Y') #convert to datetime

D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
summary.head() #check the result, which is already in date format

  title_year movie_duration_category
0 2009-01-01                   > 120
1 2007-01-01                   > 120
2 2015-01-01                   > 120
3 2012-01-01                   > 120
4        NaT                90 - 120

In [14]:
summary['title_year'] = summary['title_year'].dt.to_period('Y') #only show the year since date and month are not necessary
#source : #source : https://stackoverflow.com/questions/25146121/extracting-just-month-and-year-separately-from-pandas-datetime-column

D:\Users\bsi80086\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
summary.head() #check the final result, only year that is shown in the table

  title_year movie_duration_category
0       2009                   > 120
1       2007                   > 120
2       2015                   > 120
3       2012                   > 120
4        NaT                90 - 120

### 1.7. How many films between 90 minutes and two hours long were released in 2008?

In [16]:
print("There are" , data[(data.title_year == 2008) & (data.movie_duration_category == '90 - 120')].count()[0] 
      , "films whose duration is between 90 minutes and two hours long and were released in 2008")

There are 160 films whose duration is between 90 minutes and two hours long and were released in 2008

### 1.8. The plot_keywords column holds keywords characterizing the film's plot. Using the data in this column, create a column called movie_plot_category, to contain four categories depending on the key words in the column:
- Category "love_and_death" if the keywords include both "love" and "death"
- Category "love" if the keywords include the word "love"
- Category "death" if the keywords include the word "death"
- Category "other" if the keywords do not meet the conditions above

In [17]:
data['movie_plot_category'] = np.where(data['plot_keywords'].str.contains('love'), "love", 
                              np.where(data['plot_keywords'].str.contains('death'), "death", 
                              np.where(((data['plot_keywords'].str.contains('death')) 
                                      & (data['plot_keywords'].str.contains('love'))), "love_and_death","other")))

In [18]:
data['movie_plot_category'].value_counts() #check the result

other    4468
love      403
death     172
Name: movie_plot_category, dtype: int64

### 1.9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the average rating of films depending on which movie_plot_category category they belong to.

In [19]:
table_1_point_9 = pd.DataFrame(data.groupby('movie_plot_category')['imdb_score'].mean()).reset_index()

In [20]:
table_1_point_9

  movie_plot_category  imdb_score
0               death    6.535465
1                love    6.392556
2               other    6.443017

### 1.10. What is the average rating of films in the "love" category? Give the answer as a floatingpoint

In [21]:
print("The average rating of films in the love category is" , 
      round(table_1_point_9[(table_1_point_9.movie_plot_category == 'love')].iat[0,1],2))

The average rating of films in the love category is 6.39

### 1.11. The budget column contains the film's budget. What is the median budget for all the films listed? Give the answer as an integer.

In [22]:
#remove three characters on the most right side
data['budget'] = data['budget'].str[:-3]
#source : https://stackoverflow.com/questions/37001787/remove-ends-of-string-entries-in-pandas-dataframe-column

In [23]:
#convert the data type from string to int
data['budget'] = data['budget'].astype('int64')
#source : https://www.pythonpool.com/overflowerror-python-int-too-large-to-convert-to-c-long-solved/

In [24]:
print("The median of budget for all the films listed is", int(data.budget.median()) )

The median of budget for all the films listed is 15000000